# Dependencies
**/node_modules/
.pnp
.pnp.js

# Testing
**/coverage/

# Production
**/dist/
**/build/

# Cloudflare / Wrangler
**/.wrangler/
**/.dev.vars
**/dist-worker/

# IDEs and Misc
.DS_Store
.idea/
.vscode/
*.local
*.log

# Local Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local